*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111827;
    color:white;
}

nav{
    position:fixed;
top:0;
left:0;
width:100%;
z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#1f2937;
}

nav ul{
    display:flex;
    list-style:none;
    gap:50px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}
nav h2:hover{
    color: gold;
}
nav a:hover{
    color:#38bdf8;
}
.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    
    
}
.hero h1{
    font-size:64px;
    font-weight:700;
}
.hero p{
    font-size:24px;
    color:#cbd5e1;
}

button{
    transition:.3s;
}

button:hover{
    transform:translateY(-5px);
}

button{
    margin-top:30px;
    padding:12px 35px;
    border:none;
    background:#0ea5e9;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
    box-shadow:0 0 20px rgba(14,165,233,.5);
}

button:hover{
    background:#0284c7;
}
.about{
    min-height:100vh;
    padding:100px 10%;
    display:flex;
    align-items:center;
}

.about-content{
    max-width:700px;
}

.about h2{
    font-size:48px;
    margin-bottom:20px;
}

.about p{
    font-size:20px;
    line-height:1.8;
    color:#d0d0d0;
}
.about{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    padding:100px 10%;
}

.about-img img{
    width:320px;
    border-radius:50%;
    border:5px solid #25a9ee;
    box-shadow:0 0 25px #25a9ee;
}

.about-content{
    max-width:600px;
}

.about-content h2{
    font-size:50px;
    margin-bottom:20px;
}

.about-content p{
    font-size:20px;
    line-height:1.8;
    color:#d4d4d4;
    margin-bottom:20px;
}

.about-content button{
    padding:15px 35px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:#25a9ee;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.about-content button:hover{
    transform:scale(1.05);
}